@implements IDisposable;
@inject BlazorFacade facade

@using System.Linq;

@using Excubo.Blazor.Canvas
@using Excubo.Blazor.Canvas.Contexts
@using andoryu.TravellingSalesman


<div class="canvas_container">
    <Canvas @ref="drawing_canvas" width="1920px" height="1080px" />
</div>

@code {
    private Canvas drawing_canvas;
    private Context2D context;

    protected override void OnInitialized()
    {
        facade.CitiesChange += OnCitiesChange;
    }

    private void OnCitiesChange(object sender, EventArgs e)
    {
        StateHasChanged(); 
    }
    

    void IDisposable.Dispose()
    {
        facade.CitiesChange -= OnCitiesChange;
    }


    protected override async Task OnAfterRenderAsync(bool first_render)
    {
        if (first_render)
        {
            context = await drawing_canvas.GetContext2DAsync();
        }
        else
        {
            //await DrawCirclesAsync(facade.GetCities(), 5);
            var draw_list = facade.GetDisplayList();

            //batch all the jobs
            await using var batch = await context.CreateBatchAsync();

            //clear the canvas
            await batch.FillStyleAsync("black");
            await batch.FillRectAsync(0, 0, 1920, 1080);

            foreach(var item in draw_list)
            {
                if (item is Circle)
                {
                    await BatchCircleAsync(batch, item as Circle);
                }
                else if (item is Line)
                {
                    await BatchLineAsync(batch, item as Line);
                }
            }

        }
    }

    protected async Task BatchCircleAsync(Batch2D batch, Circle circle)
    {
        await batch.FillStyleAsync(circle.colour);
        await batch.BeginPathAsync();
        await batch.ArcAsync(circle.x, circle.y, circle.radius, 0, 2 * Math.PI);
        await batch.FillAsync(FillRule.EvenOdd);            
    }
    protected async Task BatchLineAsync(Batch2D batch, Line line)
    {
        await batch.StrokeStyleAsync(line.colour);
        await batch.BeginPathAsync();
        await batch.LineWidthAsync(line.width);
        await batch.MoveToAsync(line.x1, line.y1);
        await batch.LineToAsync(line.x2, line.y2);
        await batch.StrokeAsync();
    }



    private async Task DrawCirclesAsync(List<City>centres, int radius=5)
    {
        await using (var batch = await context.CreateBatchAsync())
        {
            await batch.FillStyleAsync("black");
            await batch.FillRectAsync(0, 0, 1920, 1080);

            //display the starting point in green
            await batch.FillStyleAsync("green");

            var _centre = centres.First();
            await batch.BeginPathAsync();
            await batch.ArcAsync(_centre.x, _centre.y, radius, 0, 2 * Math.PI);
            await batch.FillAsync(FillRule.EvenOdd);            

            //display the rest in white
            await batch.FillStyleAsync("white");
            foreach (var centre in centres.Skip(1))
            {
                await batch.BeginPathAsync();
                await batch.ArcAsync(centre.x, centre.y, radius, 0, 2 * Math.PI);
                await batch.FillAsync(FillRule.EvenOdd);
            }
        }
    }
}
