@inject BlazorFacade facade
@using andoryu.TravellingSalesman

<label for="cities">Num cities:</label>
<input id="cities" type="number" class="control" @bind="cities" min="0" max="100">

<a href="#" class="button blue" @onclick="GenerateCities">Generate</a>
<a href="#" class="button green" @onclick="NearestNeighbour">Nearest Neighbour</a>


@code {

    private int cities = 10;

    private void GenerateCities()
    {
        facade.GenerateCities(cities);
    }
    private void NearestNeighbour()
    {
        facade.RunNearestNeighbour();
    }

}
