@implements IDisposable;
@inject BlazorFacade facade
@using andoryu.TravellingSalesman

<div class="logs">
    @foreach (var line in facade.GetLogs())
    {
        @line<br/>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        facade.LogChange += OnLogChange;
    }

    protected void OnLogChange(object sender, EventArgs e) => StateHasChanged(); 
    

    void IDisposable.Dispose()
    {
        facade.LogChange -= OnLogChange;
    }
}
